
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .appBtno {
        float: right;
        height: 35px;
        width: 100px;
        font-size: 16px;
        color: white !important;
        background-color: #0f1648;
    }

    .appBtn {
        background-color: #0f1648;
    }


        .appBtn:hover {
            background-color: #c34a3d;
        }

    .appBtnActive {
        background-color: #c34a3d;
    }

    .modalMaxSize1 {
        max-width: 1275px;
    }

    * {
        box-sizing: border-box;
    }

    .redStar {
        color: red;
    }

    .searchdiv {
        cursor: pointer;
        overflow: hidden;
    }

        .searchdiv .card {
            height: 200px;
        }

            .searchdiv .card:hover {
                background: #0F72B4;
                color: #fff;
            }

    .mainbutton {
        box-shadow: 0 1px 3px #13007c;
    }

    .buttonColor {
        background: #fff;
        color: #13007c;
    }

    .btnSpan:hover {
        color: #1c1616;
    }

    .buttomBtn {
        background: #ebeced;
        color: #333333;
        text-align: center;
        line-height: 30px;
        font-size: 20px;
        font-weight: bolder;
    }

    .mainbutton:hover {
        box-shadow: 0 3px 3px #1c1616;
    }

        .mainbutton:hover .buttonColor {
            color: #13007c;
        }

        .mainbutton:hover .buttontext {
            color: #000;
        }

    .buttontext {
        color: #000;
        font-size: 30px;
    }

        .buttontext span:nth-child(1) {
            font-weight: bolder;
        }


    .icon1 {
        color: #35b593; /* Default color */
        font-size: 40px;
    }

    /* Apply a different color when hovering over the parent div */
    .div:hover .icon1 {
        font-size: 45px;
        color: #ff0000; /* Color on hover */
    }

    .icon2 {
        font-size: 40px;
        color: #69aff5;
    }

    .div:hover .icon2 {
        font-size: 45px;
        color: #ff0000; /* Change to your desired color on hover */
    }

    .icon3 {
        font-size: 40px;
        color: #08b9c9;
    }

    .div:hover .icon3 {
        font-size: 45px;
        color: #ff0000; /* Change to your desired color on hover */
    }

    .icon4 {
        font-size: 40px;
        color: #35b593;
    }

    .div:hover .icon4 {
        font-size: 45px;
        color: #ff0000; /* Change to your desired color on hover */
    }

    .card-header {
        border-left: 5px solid #13007c;
        height: 60px;
        line-height: 60px;
        font-family: Arial;
        font-size: 20px !important;
    }

</style>

<div class="content container-fluid">

    <br />
    <br />

    <div class="card-header" style="background-color:#f7f7f7;">
        <div class="row">

            <div class="col-12" style="margin-top: -13px; color:#404040; font-weight: bolder;">
                Dashboard
            </div>

        </div>

    </div>

</div>





<style>

    .elpida_icon {
        width: 50%;
    }

    .mainbutton:hover .st1 {
        fill: #13007c !important;
    }

    .mainbutton:hover .st2 {
        fill: #13007c !important;
    }
</style>


@section Scripts {




}




