

<tfoot style="border-bottom: hidden;border-left:hidden;border-right:hidden;height:100px;font-size:30px!important">
    
    <tr style="border:none;" >
        <td colspan="1" style="border:none;padding-top:10%!important" class="pb-4 text-center" >
            <span style="font-weight:bold">____________________</span><br />
            <span style="font-size:10px;">Prepared by <br />Admin Dept.</span><br />
        </td>
        <td colspan="2" style="border:none;padding-top:10%!important" class="pb-4 text-center">
            <span style="font-weight:bold">&nbsp;&nbsp;____________________</span><br />
            <span style="font-size:10px;">&nbsp;&nbsp;Checked by<br /> Accounts</span><br />
        </td>
        <td colspan="1" style="border:none;padding-top:10%!important" class="pb-4 text-center">
            <span style="font-weight:bold">____________________</span><br />
            <span style="font-size:10px;">Manager<br /> Accounts & <br /> Finance</span><br />
        </td>
        <td colspan="1" style="border:none;padding-top:10%!important" class="pb-4 text-center">
            <span style="font-weight:bold">____________________</span><br />
            <span style="font-size:10px;">Assistant <br /> Secretary</span><br />
        </td>
        <td colspan="1" style="border:none;padding-top:10%!important" class="pb-4 text-center">
            <span style="font-weight:bold">____________________</span><br />
            <span style="font-size:10px;"> Secretary</span><br />
        </td>
        
    </tr>
</tfoot>






