
@*<div class="row" style="color:black;font-size:9px">
    <div class="col-2" style="">
        <span style="font-weight:bold">__________________________________________</span><br />
        <span style="font-weight:bold">Prepared by Admin Dept.</span><br />
    </div>
    <div class="col-3" style="">
        <span style="font-weight:bold">&nbsp;&nbsp;__________________________________________</span><br />
        <span style="font-weight:bold;">&nbsp;&nbsp;Checked by Accounts</span><br />

    </div>
    <div class="col-2" style="">
        <span style="font-weight:bold">__________________________________________</span><br />
        <span style="font-weight:bold">Manager Accounts & Finance</span><br />
    </div>

    <div class="col-3" style="">
        <span style="font-weight:bold">__________________________________________</span><br />
        <span style="font-weight:bold">Assistant Secretary</span><br />
    </div>
    <div class="col-2" style="">
        <span style="font-weight:bold">__________________________________________</span><br />
        <span style="font-weight:bold"> Secretary</span><br />
    </div>
</div>*@

<tfoot style="border-bottom: hidden;border-left:hidden;border-right:hidden">
    <tr style="border:none;" >
        <td colspan="6" style="border:none;padding-top:7%!important" class="pb-4 text-center" >
            <span style="font-weight:bold">_________________________</span><br />
            <span style="font-weight:bold;font-size:13px;">Prepared by Admin Dept.</span><br />
        </td>
        <td colspan="6" style="border:none;padding-top:7%!important" class="pb-4 text-center">
            <span style="font-weight:bold">&nbsp;&nbsp;____________________</span><br />
            <span style="font-weight:bold;font-size:13px;">&nbsp;&nbsp;Checked by Accounts</span><br />
        </td>
        <td colspan="6" style="border:none;padding-top:7%!important" class="pb-4 text-center">
            <span style="font-weight:bold">___________________________</span><br />
            <span style="font-weight:bold;font-size:13px;">Manager Accounts & Finance</span><br />
        </td>
        <td colspan="6" style="border:none;padding-top:7%!important" class="pb-4 text-center">
            <span style="font-weight:bold">____________________</span><br />
            <span style="font-weight:bold;font-size:13px;">Assistant Secretary</span><br />
        </td>
        <td colspan="6" style="border:none;padding-top:7%!important" class="pb-4 text-center">
            <span style="font-weight:bold">___________</span><br />
            <span style="font-weight:bold;font-size:13px;"> Secretary</span><br />
        </td>

    </tr>
</tfoot>
