@page
@model DropZone_BackPanel.Areas.Auth.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Init_Layout.cshtml";
}

<!--Login Page Starts-->
<section id="login" class="auth-height">
    <div class="row full-height-vh m-0">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="card overflow-hidden">
                <div class="card-content">
                    <div class="card-body auth-img">
                        <div class="row m-0">
                            <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center auth-img-bg p-3">
                                <img src="~/logo/goldPolice2.PNG" alt="" class="img-fluid" width="200" height="130">
                                
                            </div>
                            <div class="col-lg-6 col-12 px-4 py-3">
                                <form asp-area="Auth" asp-page="/Login" method="post">
                                    <h4 class="mb-2 card-title">Login</h4>
                                    <p>Welcome to DropZone Backpanel, please login to your account.</p>
                                    <input type="text" name="Name" class="form-control mb-3" placeholder="Username">
                                    <input type="password" name="Password" class="form-control mb-2" placeholder="Password">
                                    <div class="d-sm-flex justify-content-between mb-3 font-small-2">
                                        <div class="remember-me mb-2 mb-sm-0">
                                            <div class="checkbox auth-checkbox">
                                                <input type="checkbox" id="auth-ligin">
                                                <label for="auth-ligin"><span>Remember Me</span></label>
                                            </div>
                                        </div>
                                        <a href="auth-forgot-password.html">Forgot Password?</a>
                                    </div>
                                    <div class="d-flex justify-content-between flex-sm-row flex-column">
                                        <span class=""></span>
                                        @*<a href="auth-register.html" class="btn bg-light-primary mb-2 mb-sm-0">Register</a>*@
                                        <input type="submit" class="btn btn-primary pull-right" value="Login">
                                    </div>
                                    <hr>
                                   @* <div class="d-flex justify-content-between align-items-center">
                                        <h6 class="text-primary m-0">Or Login With</h6>
                                        <div class="login-options">
                                            <a class="btn btn-sm btn-social-icon btn-facebook mr-1"><span class="fa fa-facebook"></span></a>
                                            <a class="btn btn-sm btn-social-icon btn-twitter mr-1"><span class="fa fa-twitter"></span></a>
                                        </div>
                                    </div>*@
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Login Page Ends-->
@*<section class="bg-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="wrapper-page">
                    <div class="account-pages">
                       
                        <div class="row  no-gutters" style="border-radius:20px">
                           
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 offset-3" style="background-color:#040825;border-radius:20px!important">
                                <form asp-area="Auth" asp-page="/Login" method="post">

                                    <div class="col-10 offset-1" style="margin-top:5px;margin-bottom:50px;border-radius:30px!important;">
                                        <div class="text-center mb-4">
                                            
                                            <img src="~/logo/goldPolice.PNG" style="width:150px;height:150px;position: relative;top: -77px;border: 10px solid #2C358F;" class="img-fluid rounded-circle mb-0" /> <br />
                                            <h2 class="text-center" id="brandtext" style="color:#ff6a00;font-family:Arial;font-weight:bold">INVENTORY MANAGEMENT</h2>

                                            <div asp-validation-summary="All" class="text-danger"></div>
                                        </div>
                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" style="background-color:#292E44;border:1px solid #4800ff; border-right:none"><i class="fa fa-user"></i></span>
                                            </div>
                                            <input type="text" name="Name" style="background-color:#292E44;border:1px solid #4800ff;border-left:none" class="form-control form-control-sm text-center text-white pr-5" placeholder="User ID">

                                        </div>
                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" style="background-color:#292E44;border:1px solid #4800ff"><i class="fa fa-key"></i></span>
                                            </div>
                                            <input type="password" name="Password" style="background-color:#292E44;border:1px solid #4800ff; border-left:none" class="form-control form-control-sm text-center text-white pr-5" placeholder="Password">
                                        </div>
                                        
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-block" style="border-radius:15px;background-color:#A93370;color:#fff;font-weight:bold" name="name" value="Login" />
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@

