@using DropZone_BackPanel.Areas.Dboard.Model
@model ReportViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<br />
<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">তথ্য অনুসন্ধান</h6>
            </div>

            <br />
            <div class="row px-3">
                <!-- Range Dropdown -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="range" class="col-sm-4 col-form-label">রেঞ্জ/মেট্রো/অন্যান্য</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="range" name="range" required>
                                <option value="0">Select</option>
                                @foreach (var data in Model.rangeMetros)
                                {
                                    <option value="@Html.Raw(data.Id)">@Html.Raw(data.rangeMetroNameBn)</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <!-- District Dropdown -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="district" class="col-sm-4 col-form-label">জেলা/অপরাধ বিভাগ/অন্যান্য</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="district" name="district">
                                <option value="0">Select</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Zone Dropdown -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="zone" class="col-sm-4 col-form-label">জোন/সার্কেল/অন্যান্য </label>
                        <div class="col-sm-8">
                            <select class="form-control" id="zone" name="zone">
                                <option value="0">Select</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Thana Dropdown -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="thana" class="col-sm-4 col-form-label">থানা/অন্যান্য</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="thana" name="thana">
                                <option value="0">Select</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Search Button -->
                <div class="col-sm-6">
                    <button class="btn btn-success" id="searchShip" style="float:right;margin-right:15px;">Search</button>
                </div>

                <!-- Loader -->
                <div class="col-6 offset-3 text-center" id="myDivloader" style="display:none;">
                    <img style="width:20%; height:50%" src="~/images/loader01.gif" />
                </div>
            </div>

            <hr />

            <!-- DataTable -->
            <div class="card-body">
                <table class="table table-striped table-bordered" style="width:100%;" id="allDataListTable">
                    <thead>
                        <tr>
                            <th>Sl</th>
                            <th>Crime Name</th>
                            <th>Crime Date</th>
                            <th>Crime Place</th>
                            <th>Crime Time</th>
                            <th>Mobile</th>
                            <th>Crime Type</th>
                            <th>Search Parameter</th>
                            <th>Union, Village Name</th>
                            <th>Uploaded At</th>
                            <th>Uploaded Files</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Video Modal -->
<div id="videoModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @* <h5 class="modal-title" id="videoModalTitle"></h5> *@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <video id="videoPlayer" width="100%" height="auto" controls>
                    <source id="videoSource" src="" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Event Handlers for Dropdowns
            $("#range").change(function () {
                var id = $(this).val();
                Common.Ajax('GET', '/Dboard/Report/GetDivisionDistrictByRangeId/' + id, [], 'json', populateDropdownDistrict("#district"), false);
            });

            $("#district").change(function () {
                var id = $(this).val();
                Common.Ajax('GET', '/Dboard/Report/GetZoneCircleByDivisionId/' + id, [], 'json', populateDropdownZone("#zone"), false);
            });

            $("#zone").change(function () {
                var id = $(this).val();
                Common.Ajax('GET', '/Dboard/Report/GetPoliceThanaByZoneid/' + id, [], 'json', populateDropdownThana("#thana"), false);
            });

            $("#searchShip").click(function () {
                var params = {
                    range: $("#range").val(),
                    district: $("#district").val(),
                    zone: $("#zone").val(),
                    thana: $("#thana").val(),
                };

                Common.Ajax('GET', `/global/api/GetReportData/${params.range}/${params.district}/${params.zone}/${params.thana}`, [], 'json', populateTable);
            });
        });

        // Helper to populate dropdowns
        function populateDropdown(selector) {
            return function (response) {
                var options = '<option value="0">Select</option>';
                $.each(response, function (i, item) {
                    options += `<option value="${item.Id}">${item.NameBn}</option>`;
                });
                $(selector).empty().append(options);
            };
        }
        function populateDropdownDistrict(selector) {
            return function (response) {
                var options = '<option value="0">Select</option>';
                $.each(response, function (i, item) {
                    options += `<option value="${item.Id}">${item.divisionDistrictNameBn}</option>`;
                });
                $(selector).empty().append(options);
            };
        }
        function populateDropdownZone(selector) {
            return function (response) {
                var options = '<option value="0">Select</option>';
                $.each(response, function (i, item) {
                    options += `<option value="${item.Id}">${item.zoneNameBn}</option>`;
                });
                $(selector).empty().append(options);
            };
        }
        function populateDropdownThana(selector) {
            return function (response) {
                var options = '<option value="0">Select</option>';
                $.each(response, function (i, item) {
                    options += `<option value="${item.Id}">${item.thanaNameBn}</option>`;
                });
                $(selector).empty().append(options);
            };
        }

        // Function to populate the table with data
        function populateTable(response) {
            var table = $('#allDataListTable').find('tbody');
            table.empty();
            $.each(response, function (index, item) {

                var formattedDate = new Date(item.createdAt).toLocaleDateString();
                var formattedcrimeDate = new Date(item.crimeDate).toLocaleDateString();
                var uploadedFilesContent = '';
                if (item.UploadedFiles && item.UploadedFiles.length > 0) {
                    uploadedFilesContent = '<ul>';
                    $.each(item.UploadedFiles, function (index, file) {
                        var videoUrl = '@Url.Action("StreamFile", "DashBoard", new { shortUrl = "__shortUrl__", userIdentifier = "__userIdentifier__" })';
                        videoUrl = videoUrl.replace('__shortUrl__', file.stringShortUrl).replace('__userIdentifier__', file.mobileMsk);

                        uploadedFilesContent += '<li><a href="#" class="open-video" data-url="' + videoUrl + '" data-filename="' + file.FileName + '">Play</a></li>';
                    });

                    uploadedFilesContent += '</ul>';
                } else {
                    uploadedFilesContent = '<span>No files uploaded</span>';
                }

                table.append(`
                            <tr>
                                <td>${index + 1}</td>
                                <td>${item.crimeName || 'N/A'}</td>
                                                <td>${formattedcrimeDate}</td>
                                <td>${item.crimePlace || 'N/A'}</td>
                                <td>${item.crimeTime || 'N/A'}</td>
                                <td>${item.Mobile || 'N/A'}</td>
                                <td>${item.crimeType || 'N/A'}</td>
                                <td>${item.districtDetails}</td>
                                <td>${item.UnionName || ''}, ${item.VillageName || ''}</td>
                                <td>${formattedDate}</td>
                                <td>${uploadedFilesContent}</td>
                            </tr>
                        `);
            });

            $('#allDataListTable').show();
            $("#allDataListTable").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        }

        // Open video modal on click
        $(document).on("click", ".open-video", function (e) {
            e.preventDefault();
            var videoUrl = $(this).data("url");
            var fileName = $(this).data("filename");

            $("#videoModalTitle").text(fileName);
            $("#videoSource").attr("src", videoUrl);
            $("#videoPlayer")[0].load();
            $("#videoModal").modal("show");
        });
    </script>
}
