@using DropZone_BackPanel.Areas.Dboard.Model
@model ReportViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<br />
<div class="row clearfix">
    <div class="col-12">
        <div class="card mb-4">
            <!-- Card Header -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">তথ্য অনুসন্ধান</h6>
                @* <a class="btn btn-success btn-sm" onClick="javascript:history.go(-1)" style="float:right;color:white">
                    &nbsp; &nbsp;Back &nbsp; &nbsp;
                </a> *@
            </div>

            <br />
            <div class="row px-3">
                <!-- Range Dropdown -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="range" class="col-sm-4 col-form-label">রেঞ্জ/মেট্রো/অন্যান্য</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="range" name="range" required>
                                <option value="0">Select</option>
                                @foreach (var data in Model.rangeMetros)
                                {
                                    <option value="@Html.Raw(data.Id)">@Html.Raw(data.rangeMetroNameBn)</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <!-- District Dropdown -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="district" class="col-sm-4 col-form-label">জেলা/অপরাধ বিভাগ/অন্যান্য</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="district" name="district">
                                <option value="0">Select</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Zone Dropdown -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="zone" class="col-sm-4 col-form-label">জোন/সার্কেল/অন্যান্য </label>
                        <div class="col-sm-8">
                            <select class="form-control" id="zone" name="zone">
                                <option value="0">Select</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Thana Dropdown -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="thana" class="col-sm-4 col-form-label">থানা/অন্যান্য</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="thana" name="thana">
                                <option value="0">Select</option>
                            </select>
                        </div>
                    </div>
                </div><div class="col-sm-6">
                    <div class="form-group row">
                        
                    </div>
                </div>
                <!-- Search Button -->
                <div class="col-sm-6">
                    <button class="btn btn-success" id="searchShip" style="float:right;margin-right:15px;">Search</button>
                </div>

                <!-- Loader -->
                <div class="col-6 offset-3 text-center" id="myDivloader" style="display:none;">
                    <img style="width:20%; height:50%" src="~/images/loader01.gif" />
                </div>
            </div>

            <hr />

            <!-- DataTable -->
            <div class="card-body">
                <table class="table table-striped table-bordered" style="width:100%;" id="allDataListTable">
                    <thead>
                        <tr>
                            <th>Sl</th>
                            <th>Mobile</th>
                            <th>Crime Type</th>
                            <th>Search Parameter</th>
                            <th>Union, Village Name</th>
                            <th>Uploaded At</th>
                            <th>Uploaded Files</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

            $(document).ready(function () {
            // Event Handlers
            $("#range").change(function () {
                var id = $(this).val();
                Common.Ajax('GET', '/Dboard/Report/GetDivisionDistrictByRangeId/' + id, [], 'json', populateDropdownDistrict("#district"), false);
            });

            $("#district").change(function () {
                var id = $(this).val();
                Common.Ajax('GET', '/Dboard/Report/GetZoneCircleByDivisionId/' + id, [], 'json', populateDropdownZone("#zone"), false);
            });

            $("#zone").change(function () {
                var id = $(this).val();
                Common.Ajax('GET', '/Dboard/Report/GetPoliceThanaByZoneid/' + id, [], 'json', populateDropdownThana("#thana"), false);
            });

            

            $("#searchShip").click(function () {
                //$('#myDivloader').show();
                $('#allDataListTable').hide();

                // var params = {
                //     thana: $("#thana").val(),
                // };
                //Common.Ajax('GET', `/global/api/GetReportData/${params.thana}`, [], 'json', populateTable);
                var params = {
                     range: $("#range").val(),
                     district: $("#district").val(),
                     zone: $("#zone").val(),
                     thana: $("#thana").val(),
                    };


                Common.Ajax('GET', `/global/api/GetReportData/${params.range}/${params.district}/${params.zone}/${params.thana}`, [], 'json', populateTable);
            });
        });

        // Helper to populate dropdowns
        function populateDropdown(selector) {
            return function (response) {
                var options = '<option value="0">Select</option>';
                $.each(response, function (i, item) {
                    options += `<option value="${item.Id}">${item.NameBn}</option>`;
                });
                $(selector).empty().append(options);
            };
        }
        function populateDropdownDistrict(selector) {
            return function (response) {
                var options = '<option value="0">Select</option>';
                $.each(response, function (i, item) {
                    options += `<option value="${item.Id}">${item.divisionDistrictNameBn}</option>`;
                });
                $(selector).empty().append(options);
            };
        }
        function populateDropdownZone(selector) {
            return function (response) {
                var options = '<option value="0">Select</option>';
                $.each(response, function (i, item) {
                    options += `<option value="${item.Id}">${item.zoneNameBn}</option>`;
                });
                $(selector).empty().append(options);
            };
        }
        function populateDropdownThana(selector) {
            return function (response) {
                var options = '<option value="0">Select</option>';
                $.each(response, function (i, item) {
                    options += `<option value="${item.Id}">${item.policeThanaNameBn}</option>`;
                });
                $(selector).empty().append(options);
            };
        }

        function populateTable(response) {
            // Destroy any existing DataTable instance
            if ($.fn.dataTable.isDataTable('#allDataListTable')) {
                $('#allDataListTable').DataTable().clear().destroy();
            }
            if (!response) return;

            var table = $("#allDataListTable tbody");
            table.empty();

            response.forEach((item, index) => {
                // Format createdAt value
                var formattedDate = 'N/A';
                if (item.createdAt) {
                    var date = new Date(item.createdAt);
                    var options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12: true };
                    formattedDate = date.toLocaleString('en-US', options).replace(',', '');
                }

                // Generate uploaded files list
                var uploadedFilesContent = '';
                if (item.UploadedFiles && item.UploadedFiles.length > 0) {
                    uploadedFilesContent = '<ul>';
                    item.UploadedFiles.forEach(file => {
                        uploadedFilesContent += `<li><a href="${file.AttachmentUrl}" target="_blank">View File</a></li>`;
                    });
                    uploadedFilesContent += '</ul>';
                } else {
                    uploadedFilesContent = '<span>No files uploaded</span>';
                }

                // Handle null values and append data row
                table.append(`
                    <tr>
                        <td>${index + 1}</td>
                        <td>${item.Mobile || 'N/A'}</td>
                        <td>${item.crimeType || 'N/A'}</td>
                        <td>${item.districtDetails}</td>
                        <td>${item.UnionName || ''}, ${item.VillageName || ''}</td>
                        <td>${formattedDate}</td>
                        <td>${uploadedFilesContent}</td>
                    </tr>
                `);
            });

            // Initialize DataTable after populating rows
            $('#allDataListTable').show();
            $("#allDataListTable").DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        }



    </script>


}




